{% extends "layout.html" %}

{% block content %}
    <body bgcolor="#E6E6FA">

        <h2><u>{{ title }}</u></h2>
        <h3>{{ message }}</h3>

        <p>My name is Yotam Fogel and I live in Tel Aviv, Israel. </p>
        <p>I go to school at Tichonet and learn Data Science there.</p>
        <p>I made this project because I want to learn more about cryptocurrencies and how they will change the future.</p>
        </body>
    <p><a href="https://docs.google.com/document/d/1_cIH8n1aNfx0peTjaCoyQ7bvu76bVcE8i0T1KcUOt4w/edit?usp=sharing">5130 - מסמך איפיון</a></p>
        {% endblock %}
