{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cryptocurrencies</h1>
    <p class="lead">I made my project about cryptocurrencies and how their prices fluctuated over the years.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="{{ img_bitcoin }}" height="200" width="300">
    </div>
    <div class="col-md-4">
        <img src="{{ img_ethereum }}"height="200" width="300">
    </div>
    <div class="col-md-4">
        <img src="{{ img_ripple }}"height="200" width="300">


    </div>
</div>

{% endblock %}
